/* Title used for my name at the top of the page */
title {
    display:block;
    font-size:25pt;
    text-align:center;
    padding:1.5em 0px 1.5em 0px;
    width:50%;
    margin:30px auto 30px auto;
    background-color:#cccccc;
    font-family:"Courier New";
}

/* Body of the page */
body {
    color:#000;
    background-color:#eeeeee;
}

h1 {
    font-family:"Lucida Console","Consolas","Courier New",monospace;
    font-size:24pt;
}

h2 {
    font-family:"Lucida Console","Consolas","Courier New",monospace;
    font-size:18pt;
}

p {
    font-family:"Arial";
    font-size:12pt;
}