/* Title used for my name at the top of the page */
title {
    display:block;
    font-size:25pt;
    text-align:left;
    padding:1.5em 0px 1.5em 0px;
    width:100%;
    margin:30px auto 30px auto;
    background-color:#cccccc;
    font-family:"Lucida Console","Consolas","Courier New",monospace;
    font-weight:bold;
}

/* Body of the page */
body {
    color:#000;
    background-color:#eeeeee;
    width:1000px;
    /*margin: 0px auto 0px auto;*/
}

h1 {
    font-family:"Lucida Console","Consolas","Courier New",monospace;
    font-size:24pt;
}

h2 {
    font-family:"Lucida Console","Consolas","Courier New",monospace;
    font-size:18pt;
}

p {
    font-family:"Arial";
    font-size:15pt;
}

.link-favicon {
    height:16px;
    width:16px;
    margin-left:5px;
    margin-right:5px;
}
